html {
    height: 100%;
}

body {
    background-color: #2af;
    height: 90%;
    position: relative;
}

#frame {
    height: 100%;
    margin: auto;
    position: relative;
    border: 2px solid black;
}

#container {
    background-color: #b8dbff;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#container div {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.bg {
    background-image: url(../ChipTheChinchilla/img/bg.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.title {
    width: 100%;
    top: 10%;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 2.5em;
    font-variant: small-caps;
}

.help {
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
}

.hs {
    width: 100%;
    top: 40%;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.hs div {
    position: relative;
}

.hs #hsList {
    display: flex;
}

.hs #nameCol {
    margin-left: 10px;
    margin-right: 10px;
}

.hs .filler {
    display: flex;
    flex: 1;
}

.tree {
    background: url(../ChipTheChinchilla/img/log_spruce.png) center repeat-y;
    background-size: 100% auto;
}

.left-tree {
}

.right-tree {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#chip {
    background-size: cover;
}

.right-chip {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.left-chip {
    -webkit-transform: rotate(-90deg) scaleY(-1);
    -moz-transform: rotate(-90deg) scaleY(-1);
    -ms-transform: rotate(-90deg) scaleY(-1);
    -o-transform: rotate(-90deg) scaleY(-1);
    transform: rotate(-90deg) scaleY(-1);
}

.score {
    top: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 2em;
}

.snake {
}

.right-snake {
    -webkit-transform: rotate(90deg) scaleY(-1);
    -moz-transform: rotate(90deg) scaleY(-1);
    -ms-transform: rotate(90deg) scaleY(-1);
    -o-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

.left-snake {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.snake-img {
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color .5s;
}
