html {
    height: 100%;
}

body {
    background-color: #2af;
    height: 90%;
    position: relative;
}

#frame {
    height: 100%;
    margin: auto;
    position: relative;
    border: 2px solid black;
}

#container {
    background-color: #b8dbff;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#container div {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.bg {
    background-image: url(../img/bg.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.title {
    width: 100%;
    top: 10%;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 2.5em;
    font-variant: small-caps;
}

.help {
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
}

.hs {
    width: 100%;
    top: 40%;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.hs div {
    position: relative;
}

.hs #hsList {
    display: flex;
}

.hs #nameCol {
    margin-left: 10px;
    margin-right: 10px;
}

.hs .filler {
    display: flex;
    flex: 1;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color .5s;
}
